<md-toolbar layout="row" >
	<h1 class="md-toolbar-tools">Record Usage CSV Generator</h1>
</md-toolbar>

<div flex layout="row">
	<md-sidenav flex="40" md-is-locked-open="true" class="md-whiteframe-z2">
		<md-list>
			<md-subheader class="md-no-sticky">Choose Parameters</md-subheader>
			<md-divider></md-divider>
			
			
			<md-list-item layout="column" layout-align="left left">
				<label><strong>Select Tenant</strong></label>
				<md-select ng-model="tenant">
					<md-option ng-repeat="tenant in tenants" value="{{tenant._id}}">
						{{tenant.name}} ({{tenant.clientNo}})
					</md-option>
				</md-select>
			<md-divider></md-divider>
			</md-list-item>
			
			
			<md-list-item>
				<md-radio-group ng-model="acctOrPlan" layout="row">
					<md-radio-button ng-repeat="d in acctOrPlanRadioData"
									 ng-value="d.value">
						{{ d.label }}
					</md-radio-button>
				</md-radio-group>
			</md-list-item>
			
			
			<md-list-item 
					layout="column" 
					layout-align="left left" 
					style="margin-left: 15px; margin-right: 15px;"
					ng-show="checkAcctOrPlan('plan')">
				<label><strong>Choose usage type(s) from plan:</strong></label>

				<md-select ng-disabled="!tenant" 
						   placeholder="Select Plan" 
						   ng-model="plan" 
						   md-on-open="loadPlans(tenant)" 
						   style="min-width: 200px;">
					<md-option ng-value="plan" ng-repeat="plan in plans">
						({{plan.plan_no}}) {{plan.plan_name}}
					</md-option>
				</md-select>
					<md-button ng-click="clearPlans()" ng-disabled="!plan" style="margin-right: 20px;">Clear</md-button>
				<md-divider></md-divider>
			</md-list-item>
			
			
			<md-list-item 
					layout="column" 
					layout-align="left left" 
					style="margin-left: 15px; margin-right: 15px;"
					ng-show="checkAcctOrPlan('account')">
				<label><strong>Choose usage types from account</strong></label>
				<md-input-container flex>
					<input ng-disabled="!tenant" ng-model="acctNo" placeholder="Account Number" type="text" />
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="loadAcctPlans(tenant, acctNo)" ng-disabled="!acctNo" style="margin-right: 20px;">Get Usage Types</md-button>
				<md-divider></md-divider>
			</md-list-item>
			
			<md-list-item 
					layout="column" 
					layout-align="left left" 
					style="margin-left: 15px; margin-right: 15px; margin-top: 15px;"
					ng-show="showUsageTypes">
					<md-progress-circular md-mode="indeterminate" ng-show="usagetypeLoading"></md-progress-circular>
					<label><strong>Select Usage Types</strong></label>
			</md-list-item>
			<md-list-item 
					layout="column" 
					layout-align="left left" 
					style="margin-left: 15px; margin-right: 15px; margin-top: 15px;"
					ng-show="showUsageTypes">
					<md-checkbox ng-model="selAllUsageTypes" ng-click="toggleAll(usageTypes, selectedUsageTypes, selAllUsageTypes)"></md-checkbox>
					<label><strong>Select All</strong></label>
			</md-list-item>
			<md-list-item 
					layout="column" 
					layout-align="left left" 
					style="margin-left: 15px; margin-right: 15px; margin-top: 15px;"
					ng-show="showUsageTypes">
				<div layout="column">
					
					<fieldset class="standard" ng-show="usageTypes" flex="100">
					<legend>{{plan.plan_name}} Usage Types</legend>
					
					<div ng-repeat="usageType in usageTypes">
						<md-checkbox ng-checked="exists(usageType, selectedUsageTypes)" ng-click="toggle(usageType, selectedUsageTypes)">
							{{ usageType.usage_type_code }} ({{ usageType.usage_type }})
						</md-checkbox>
					</div>
				</fieldset>
				</div>
			</md-list-item>
			
			<md-list-item>
				
			</md-list-item>
			
		</md-list>
	</md-sidenav>
	
	<md-content flex id="content" class="md-whiteframe-z2">
		<md-subheader class="md-no-sticky">Choose Options</md-subheader>
		<div style="margin-left: 15px; margin-right: 15px;">
			<div ng-show="showUsageTypes">
				<md-radio-group ng-model="globalOrIndividual" layout="row" style="margin-bottom: 15px;">
					<md-radio-button ng-repeat="d in globalOrIndividualRadioData"
									 ng-value="d.value"
									 ng-disabled="d.isDisabled">
						{{ d.label }}
					</md-radio-button>
				</md-radio-group>
				<div layout="row">
					<md-input-container>
						<label># Records for each usage type</label>
						<input type="number" ng-model="usageTypeOptions.recordsPerType">
					</md-input-container>
					<md-input-container>
						<label># Units per record</label>
						<input type="number" ng-model="usageTypeOptions.unitsPerRecord">
					</md-input-container>
					<md-input-container>
						<label>Filename</label>
						<input type="text" ng-model="fileName">
					</md-input-container>
					<span flex></span>
					<div layout="column">
						<a target="_self" 
								download="{{fileName}}" 
								ng-href="{{url}}" 
								class="md-raised md-primary md-button md-ink-ripple" 
								ng-disabled="genCsvButton"
								ng-click="generateCsv($event)">
							Generate CSV
						</a>
						<md-progress-circular md-mode="indeterminate" ng-show="isCsvProcessing"></md-progress-circular>
					</div>
				</div>
					<div layout="column" flex="100">
						<h2>Account numbers for each type</h2>
						<md-chips ng-model="usageTypeOptions.accountNumbers"></md-chips>
						<div layout="row" style="margin-top: 10px;">
							<md-checkbox ng-disabled="isCsvProcessing" 
											ng-model="usageTypeOptions.allowNoAccounts"
											ng-show="usageTypeOptions.showAllowNoAccounts"><p>Allow Creation without account numbers</p></md-checkbox>
						</div>
					</div>
			</div>
			<md-switch ng-model="usageTypeOptions.showFields" aria-label="Show Fields" ng-show="usageTypes">
				<h4>Show & configure API fields</h4>
			</md-switch>
			<md-list ng-show="usageTypeOptions.showFields">
				
				<md-subheader class="md-no-sticky">
					<md-checkbox ng-model="usageTypeOptions.selectAllFields" ng-click="toggleSelectAll(usageTypeOptions.fields)"></md-checkbox>
					Fields
				</md-subheader>
				<md-divider></md-divider>
				<div layout="row" flex="100" ng-repeat="field in usageTypeOptions.fields">
				<md-list-item flex="50">
					<md-checkbox ng-model="field.isSelected"></md-checkbox>
					<p>{{ field.fieldName }}</p>
				</md-list-item>
				<md-input-container class="md-secondary" ng-if="!isDate(field.fieldName)">
					<label>Value</label>
					<input type="text" ng-model="field.value" ng-disabled="!field.isSelected">
				</md-input-container>
				<md-datepicker ng-if="isDate(field.fieldName)" ng-model="field.value" ng-disabled="!field.isSelected" md-placeholder="Enter date"></md-datepicker>
				<span flex></span>
				</div>
			</md-list>
			<md-list ng-show="selectedUsageTypes">
				<md-subheader class="md-no-sticky" ng-show="selectedUsageTypes">Inlcuded Usage Types</md-subheader>
				<md-list-item ng-repeat="usageType in selectedUsageTypes">
					<p>{{ usageType.usage_type_code }}</p>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</div>
	</md-content>
</div>